<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="{{ '/assets/images/shinris3n.png' | relative_url }}">

    {% seo %}
  </head>

  <body>
    <header>
      <div class="container">
        <h1>
          <a href="{{ '/' | relative_url }}" style="text-decoration:none;color:#b5e853;">
            {{ site.title }}
          </a>
        </h1>
        <h2>{{ site.description }}</h2>
        
        <p style="margin-top: 10px;">
          👊 <a href="{{ '/writeups' | relative_url }}" style="color:#b5e853;">Writeups</a> 
          👊 <a href="{{ '/news' | relative_url }}" style="color:#b5e853;">News</a> 
          👊 <a href="{{ '/resources' | relative_url }}" style="color:#b5e853;">Resources</a>
        </p>
      </div>
    </header>

    <div class="container">
      <a href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/images/shinris3n_banner_transparent.png' | relative_url }}" width="25%" height="25%" alt="shinris3n" title="shinris3n home page link">
      </a>
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    </body>
</html>