---
layout: default
---
<h5><a href="{{site.url}}"> &lt;&lt; home </a></h5><br>

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{% if page.challenge-source %}
  <small>Challenge Source: <em>{{ page.challenge-source | join: "</em>, <em>" }}</em></small>
{% endif %}
<br>
{% if page.challenge-category %}
  <small>Challenge Category: <em>{{ page.challenge-category | join: "</em>, <em>" }}</em></small>
{% endif %}

{{content}}

{% if page.tags %}
  <small>Tags: <em>{{ page.tags | join: "</em>, <em>" }}</em></small>
{% endif %}
